@font-face {
  font-family: 'Ferb';
  src: url("fonts/ferb/ferblight.eot");
  src: url("fonts/ferb/ferblight.eot?#iefix") format("embedded-opentype"), url("fonts/ferb/ferblight.woff") format("woff"), url("fonts/ferb/ferblight.ttf") format("truetype"), url("fonts/ferb/ferblight.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ferb';
  src: url("fonts/ferb/ferbheavyitalic.eot");
  src: url("fonts/ferb/ferbheavyitalic.eot?#iefix") format("embedded-opentype"), url("fonts/ferb/ferbheavyitalic.woff") format("woff"), url("fonts/ferb/ferbheavyitalic.ttf") format("truetype"), url("fonts/ferb/ferbheavyitalic.svg#") format("svg");
  font-weight: bold;
  font-style: italic; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  /*-webkit-radial-gradient(50% 20%,ellipse farthest-corner,rgba(0,0,0,0.6),#000);*/
  background-image: url(images/bg_black.png);
  background-repeat: repeat;
  font-family: "Helvetica";
  height: 100%;
  width: 100%;
  overflow: hidden; }

#background {
  background: url(images/bg_radial.png) no-repeat 0 0px;
  position: absolute;
  height: 3030px;
  width: 3030px;
  left: -1430px;
  top: -1430px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 200s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-origin: center; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

header {
  font-family: "Ferb";
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  margin: 0;
  padding: 30px 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(75, 112, 182, 0.2); }
  header h1 {
    font-style: italic;
    float: left;
    font-size: 72px;
    background: url(images/logo.png) no-repeat;
    padding: 10px 0 0 100px;
    height: 95px;
    margin-left: 60px; }
  header .right {
    margin: 0 60px;
    float: right;
    padding: 10px 0 0 0px; }
    header .right .total {
      width: 300px;
      text-align: right;
      float: right; }
    header .right time {
      width: 300px;
      text-align: right;
      float: right; }

footer {
  position: absolute;
  bottom: 60px;
  z-index: 100; }

h2 {
  font-family: "Ferb";
  color: #63849d;
  margin-left: 60px;
  font-size: 72px; }

#content {
  position: relative;
  height: 800px; }

/******************** PAGES **************************/
#last_feats {
  height: 450px;
  background: rgba(0, 0, 0, 0.05);
  padding: 40px 0px 0 0px;
  margin: 120px 0 0 0px;
  width: 100%;
  /*	border-top: 1px solid rgba(75, 112, 182, 0.1);
  	border-bottom: 1px solid rgba(75, 112, 182, 0.1);*/ }
  #last_feats ul {
    position: relative;
    width: 4000px;
    float: right;
    padding-right: 60px; }
    #last_feats ul li {
      -webkit-transition-property: width, padding-top, margin-top, background-color;
      -webkit-transition-duration: 1500ms, 1500ms;
      background-color: rgba(0, 0, 0, 0);
      overflow: hidden;
      float: right;
      text-align: center;
      line-height: 30px;
      margin: 0 10px; }
      #last_feats ul li a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        display: block;
        text-align: center; }
      #last_feats ul li .image {
        background: url(images/feat_small_shadow.png) no-repeat center bottom;
        padding-bottom: 12px;
        width: 270px;
        display: inline; }
        #last_feats ul li .image img {
          -webkit-transition-property: width, height;
          -webkit-transition-duration: 1500ms, 1500ms;
          border: 5px solid white;
          width: 250px;
          height: 250px; }
      #last_feats ul li time {
        color: #63849d;
        line-height: 45px;
        font-size: 24px;
        display: block; }
      #last_feats ul li author {
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Ferb";
        display: block; }
      #last_feats ul li h3 {
        font-weight: normal;
        width: 250px;
        font-size: 24px;
        text-align: center;
        display: inline-block; }
    #last_feats ul li:first-child {
      background-color: rgba(0, 0, 0, 0.15);
      -webkit-border-radius: 10px;
      padding: 20px 0;
      margin-top: -70px; }
      #last_feats ul li:first-child .image {
        background: url(images/feat_large_shadow.png) no-repeat center bottom;
        width: 507px; }
        #last_feats ul li:first-child .image img {
          border-width: 7px;
          width: 500px;
          height: 500px;
          margin-left: 7px; }

#grid div div.front, #grid div div.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1.4s ease-in-out;
  -moz-transition: -webkit-transform 1.4s ease-in-out;
  -webkit-transition: -webkit-transform 1.4s ease-in-out; }

.front.flipped, .back.flipped {
  -webkit-transform: rotateY(180deg); }

div.flip div.front {
  -webkit-transform: rotateY(180deg); }

div div.back {
  /* Ensure the "back side" is flipped already */
  -webkit-transform: rotateY(-180deg); }

div.flip div.back {
  -webkit-transform: rotateY(0deg); }

div.back div {
  width: 100%;
  height: 100%;
  background: gray; }

div.back div p {
  font-size: 20px;
  padding: 15px; }

div.back div p a {
  color: black;
  text-decoration: none; }

#grid, #layer {
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

#grid > div {
  -webkit-perspective: 700; }

#missions_theme {
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.05); }
  #missions_theme h3 {
    font-family: "Ferb";
    color: #63849d;
    width: 100%;
    margin-left: 60px;
    font-size: 72px; }
  #missions_theme div {
    width: 14000px;
    position: relative;
    animation-name: animDirection;
    -webkit-animation-duration: 50s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear; }
  #missions_theme div.top {
    -webkit-animation-name: animleft; }
  #missions_theme div.bottom {
    -webkit-animation-name: animright; }

@-webkit-keyframes animleft {
  from {
    left: -10000px; }

  to {
    left: 500px; } }

@-webkit-keyframes animright {
  from {
    left: 0px; }

  to {
    left: -11000px; } }

#all_feats {
  background-color: red;
  width: 100%;
  margin-bottom: 120px; }
  #all_feats img {
    border: 3px solid white;
    width: 200px;
    height: 200px; }

#top {
  margin-top: 100px; }
  #top .player {
    color: white;
    font-size: 42px;
    width: 640px;
    -webkit-border-radius: 10px;
    background: rgba(0, 0, 0, 0.15);
    padding: 30px; }
    #top .player .position {
      font-style: italic;
      font-weight: bold;
      font-family: "Ferb";
      width: 100%;
      text-align: center;
      margin: 0px 0 20px 0; }
    #top .player .details {
      margin: 0 0 20px 0; }
      #top .player .details img {
        float: left;
        width: 100px;
        height: 100px;
        margin-right: 20px; }
      #top .player .details p {
        float: left;
        display: block;
        line-height: 1.2em; }
      #top .player .details author {
        text-transform: uppercase;
        font-weight: bold;
        display: block; }
    #top .player ul {
      margin-top: 40px; }
      #top .player ul li:first-child .feat {
        margin: 5px 5px 10px 0; }
      #top .player ul li:last-child .feat {
        margin: 5px 0 10px 5px; }
      #top .player ul li {
        float: left; }
        #top .player ul li .feat {
          width: 200px;
          height: 200px;
          border: 3px solid white;
          margin: 5px 5px 10px 5px; }
        #top .player ul li p {
          text-align: center;
          line-height: 0.5em; }
  #top .first, #top .second, #top .third {
    float: left;
    margin: 0 60px; }
  #top .first {
    margin-top: 0px; }
  #top .second {
    margin-top: 70px; }
  #top .third {
    margin-top: 150px; }
  #top .second .player, #top .third .player {
    width: 430px; }
  #top .second .details, #top .third .details {
    text-align: center;
    width: 100%; }
    #top .second .details img, #top .third .details img {
      display: none; }
    #top .second .details p, #top .third .details p {
      width: 100%; }
  #top .second ul li:last-child, #top .third ul li:last-child {
    display: none; }
