<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# onefeat: http://ogp.me/ns/fb/onefeat# profile: http://ogp.me/ns/profile#">
  <meta property="fb:app_id" content="116191848453944" />
  <meta charset=UTF-8>
  <title>Onefeat - Party</title>
  <meta name="description" content="feat /fēt/ noun. An act of skill, endurance, imagination, or strength; an achievement.">

  <link rel="stylesheet" type="text/css" href="clear.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="libs/underscore-min.js" type="text/javascript" charset="utf-8" ></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="libs/timeago.js" type="text/javascript" charset="utf-8" ></script>
  <script src="party.js"></script>

</head>
<body>
<!--   <div id="background"></div> -->
  <header class="clearfix">
    <h1>ONEFEAT PARTY</h1>
    <div class="right">
      <time></time>
 
      
    </div>
  </header>
  <div id="content" class=" clearfix">
    <div id="top" >
      <div class="clearfix">
          <div class="second">

      

          </div>

          <div class="first">

            


          </div>
          <div class="third">

            


          </div>

          <script id="player_template" type="text/html">
            <div class="player">
              <div class="position"><%- position %></div>
              <div class="details clearfix">
                <img src="<%- avatar_image %>"/>
                <p>
                  <author><%- username %></author>
                  
                  <strong class="feats"><%- feats_count_for_quest %></strong> feats 
                   &nbsp;
                  <strong class="likes"><%- likes_count_for_quest %></strong> likes
                </p>
               
              </div>
              <ul class="clearfix" >
                <% console.log('reafe'); _.each( top_feat_for_quest, function(photo){  console.log(photo); %>
                <li>
                  <img class="feat" src="<%- photo.sizes.normal %>"/>
                  <p ><%- photo.likes_count %> <img src="images/heart.png"/> </p> 
                </li>
                <% }); %>
              </ul>
            </div>
          </script>
                 

     
      </div>
      <div class="others">

      </div>
  

    </div>

  </div>
  <footer>
    <h2>RANKING</h2>
  </footer> 
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      top_users.initialize();
    });
  </script>
</body>
</html>